#searchText {
    width: 100vh;
    z-index: 1;
    font-size: 22px;
    color: black;
    background-color: white;
    padding: 12px 20px 12px 20px;
    border: 3px solid #11bffe;
    margin-right: -8px;
}

#paperFilters {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    :focus {
        outline: 0 !important;
    }
}

#mainPaper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
