#searchInput {
    width: 90%;
    padding: 12px 20px 12px 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 22px;
    z-index: 1;
}

#filterIcon {
    position: absolute;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 5px;
}
