<div class='htmlViewer'>
    <b>T2-WEIGHTED SPACE</b>
    </br>
    </br>
    T2-weighted variable flip angle 3D-encoded turbo-spin-echo (T2-SPACE); 176 sagittal slices (thickness: 1mm); 192 mm field of view with 192x192 matrix; TE: 368 ms, TR: 3,200 ms.    
    </br>
    </br> 
    <p><a data-action="console.log('Switch Mode')">Switch Mode</a></p>
    <p><a data-action="console.log('Switch Axial')">Switch to Axial Orientation</a></p>
    <p><a data-action="console.log('Switch Sagittal')">Switch to Sagittal Orientation</a></p>
    <p><a data-action="console.log('Switch Coronal')">Switch to Coronal Orientation</a></p>
    <p><a data-action="console.log('Switch 3D')">Switch to 3D View</a></p>
</div>