<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="./geppetto/node_modules/@geppettoengine/geppetto-client/geppetto-client/style/favicon.png"/>
    <title>geppetto's home</title>
    <meta name="description" content="geppetto .:dashboard:.">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="./geppetto/node_modules/@geppettoengine/geppetto-client/geppetto-client/js/pages/dashboard/css/styles.css">
    <link rel="stylesheet" href="./geppetto/node_modules/@geppettoengine/geppetto-client/geppetto-client/style/css/font-awesome.min.css"/>

    <script>
        window.EMBEDDED = <%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.embedded%>;
        window.EMBEDDERURL = "<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.embedderURL%>";
    </script>

    <script data-main="geppetto/node_modules/@geppettoengine/geppetto-client/geppetto-client/js/pages/dashboard/js/main" src="./geppetto/node_modules/@geppettoengine/geppetto-client/geppetto-client/js/pages/dashboard/js/libs/require/require.js"></script>
</head>
<body>


</body>
</html>
